:root {
    --card-color: #a24545; /* Blue color for primary actions */
    --secondary-color: #a14242; /* Gray color for secondary elements */
    --text-color: #212529; /* Dark color for main text */
    --background-color: #4a0f0f; /* White background */
}
  
.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 75vh;
    padding-left: 1%;
    padding-right: 8%;
    position: relative;
}
p, h1 {
    color: white;
}

.lag-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link {
    text-decoration: none;
    font-family: "Prompt";
    
}

body {
    background-color: var(--background-color);
    position: relative;
}

.poeng-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poeng {
    font-family: 'Rubik Mono One';
    font-size: 2em;
    margin-top: 0;
}

.lag {
    font-family: 'Prompt';
    font-size: 1.2em;
    margin-bottom: 0;
}

.spm-bilde {
    width: 60%;
    height: 20%;
}

.grid-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 7px 7px;
    height: 60vh;
}
.kategori{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-family: 'Prompt';
    margin-bottom: 2px;
}

.card {
    margin: 1%;
    border-radius: 40px;
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Mono One';
    font-size: 2em;
    height: 10vh;
    border: 1.5px solid #FFF163;
}

.question-div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.button-div {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.poengknapp {
    min-width: 8vw;
    border-radius: 30px;
    background-color: #fcf282;
    font-family: 'Prompt';
    border: none;
    
}

.ferdig {
    background-color: rgba(0,0,0,0.1); 
}

.modal-title {
    font-family: 'Rubik Mono One';
    font-size: 3em;
}

.modal-question {
    font-size: 1.5em;
    font-family: 'Prompt';
    text-align: center;
}

.modal-challenge {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-skaal {
    background-color: #fcf282;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 70%;
    height: 60%; /* Could be more or less, depending on screen size */
    /*animation: fadeIn 0.5s linear;*/
    border-radius: 10px;
    box-shadow: 0px 0px 30px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
    position: relative;
}

.skaal-img {
    height: 50vh;
}

.modal-skaal-tittel {
    position: absolute;
    bottom: 5%;
    font-size: 7em;
    color:var(--secondary-color);
    font-family: 'Rubik Mono One';
    margin-bottom: 0;
    text-shadow:  0 0 5px #8638e4, 0 0 10px #8638e4;
    
}

.modal-content-challenge {
    background-color: #fcf282;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
    height: 40%; /* Could be more or less, depending on screen size */
    /*animation: fadeIn 0.5s linear;*/
    border-radius: 10px;
    box-shadow: 0px 0px 30px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.edit-icon {
    cursor: pointer;
    margin-left: 5px;
    color: #007bff; /* Set the color of the edit icon */
  }

[contenteditable ="true"] {
    border: 1px solid #fcf282; /* Set the border color when editing */
    outline: 0px solid transparent;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
  }

.title {
    font-family: 'Rubik Mono One';
    font-size: 6em;
    color: #fef7a8;
    margin-bottom: 0.1%;
    margin-top: 1%;
    text-shadow:  0 0 5px #FFF163, 0 0 10px #FFF163;
}

.challenge-tittel {
    font-family: 'Rubik Mono One';
    font-size: 3em;
    margin-bottom: 0;
    color:#F252B0;
}

.challenge-name {
    font-family: 'Prompt';
    font-size: 1.5em;
    color:#F252B0
}

.modal {
    display: none;  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    /* Black w/ opacity */
    
  }

  .kimsbilder {
    position: absolute;
    width: 90vw;
    display: none;
    z-index: 10;
    top: 3vh;
    left: 4vw;
  }

  

  
  /* Modal Content/Box */
  .modal-content {
      background-color: var(--secondary-color);
      margin: 8% auto; /* 15% from the top and centered */
      padding: 20px;
      width: 60%;
      /*height: 70%; Could be more or less, depending on screen size */
      animation: fadeIn 0.5s, slideIn .5s linear;
      border-radius: 10px;
      box-shadow: 0px 0px 30px #000000;
      display: flex;
      flex-direction: column;
      
    }
    
    .poeng-knapp {
        min-width: 5vw;
        height: 5vh;
    }
    
    .button-tekst {
        font-family: 'Prompt';
        font-size: 1em;
        margin: 6%;
        color:var(--background-color);
    }
    
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: 10%;
    }
    
    
    
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        position: absolute;
        margin-top: 16vh;
    }

    .logo-div {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }
  
    .logo {
      height: 24vh;
    }